{{ define "header" }}
<nav style="margin-bottom: 2rem">
  <ul>
    <li><a href="/"><strong>Casa</strong></a></li>
  </ul>
  <ul>
    {{ if .IsAuthenticated }}
    <li>
      <form action="/logout" method="post">
        <button hidden id="logoutLink">Logout</button>
      </form>
    </li>
    {{ else }}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    {{ end }}
    <li><a href="/listings" role="button" class="outline">Post a Listing</a></li>

    {{ if .IsAuthenticated }}
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link">Account</summary>
        <ul role="listbox">
          <li><a href="/profile">Profile</a></li>
          <!-- <li><a>Dashboard</a></li> -->
          <li><a href="#" onclick="logoutLink.click()">Logout</a></li>
        </ul>
      </details>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
