{{ define "header" }}
<nav style="margin-bottom: 2rem">
  <ul>
    <li>
      <a style="display: flex; gap: 5px; align-items: center;" href="/">
        <img src="/public/images/gopher.jpeg" alt="">
        <strong>Casa</strong>
      </a>
    </li>
  </ul>
  <ul>
    {{ if .IsAuthenticated }}
    <li>
      <form action="/users/logout" method="post">
        <button hidden id="logoutLink">Logout</button>
      </form>
    </li>
    {{ else }}
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
    {{ end }}
    <li><a href="/listings/create" role="button" class="outline">Post a Listing</a></li>

    {{ if .IsAuthenticated }}
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link">Account</summary>
        <ul role="listbox">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/listings/my">My Listings</a></li>
          <li><a href="/listings/saved">Saved</a></li>
          <!-- <li><a>Dashboard</a></li> -->
          <li><a href="#" onclick="logoutLink.click()">Logout</a></li>
        </ul>
      </details>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
