{{ define "title" }}Forgot Password{{ end }}

{{ define "main" }}
<section>
  <div class="form">
    <h4>Forgot your password?</h4>
    <form action="/forgot-password" method="post">
      <div>
        <label for="email">Enter your email</label>
        <input 
          {{ with .Form.FieldErrors.email }}
          aria-invalid="true"
          {{ end }}
          name="email" id="email" type="text" value="{{ .Form.Email }}">
        {{ with .Form.FieldErrors.email }}
        <small class="red">{{ . }}</small>
        {{ end }}
        <div>
          <button type="submit">Send me a Reset Link</button>
        </div>
      </div>
    </form>
  </div>
</section>
{{ end }}
