{{ define "title" }}Home{{ end }}

{{ define "main" }}

<h2>Welcome to Casa</h2>
<p>Making buying and selling homes, land and renting apartments straightforward and accessible for everyone.</p>

<!-- <p>Sit vitae laborum veritatis possimus velit? Ad alias ipsa rerum voluptate beatae asperiores? Fugiat reiciendis voluptatibus illo atque dolore odio Vitae quia tempora rerum qui cumque suscipit Asperiores corporis explicabo mollitia eligendi modi magnam. Temporibus quam illum ea optio amet, iure Voluptatem veniam nisi vitae deserunt rem Dolores sed quam tempora odio unde nemo Saepe distinctio distinctio asperiores quia laborum esse mollitia Sunt a hic consequuntur ipsa nulla neque Exercitationem velit neque nostrum nostrum delectus. Accusantium quisquam nesciunt consequatur beatae rem? Commodi rem porro voluptates quidem fugit? Et praesentium nulla dicta voluptate dolorum. Veniam quam laudantium culpa molestias eos eos.</p> -->
<!-- <p>Sit sit eligendi quisquam hic libero A rem a atque autem nobis laboriosam! Assumenda expedita aliquid aliquam illo iste error? Aperiam explicabo odit mollitia esse ratione quibusdam, reiciendis? Cumque aliquam saepe quidem aspernatur architecto. Neque necessitatibus iure provident pariatur molestiae. Doloremque recusandae corrupti molestias sed sunt Magni sit odio optio?</p> -->

<h2>Recent Listings</h2>

<div class="listings">
{{ range .Listings }}
  <div class="listing listing__{{.ID}}">
    <img onclick="location.href='/listings/{{.ID}}'" width="500" src="/uploads/{{.Banner}}" alt="">
    <div class="listing_body">
      <p>{{ .Title }}</p>
      <h4>NPR. {{ .Price }}</h4>
      <p>{{ .Location }}</p>
      <!-- <p>{{ .Description }}</p> -->
      <small>{{ humanDate .CreatedAt }}</small>
    </div>
  </div>
{{ end }}
</div>

{{ end }}
