{{ define "title" }}Home{{ end }}

{{ define "main" }}

<!-- INTRO -->
<section>
  <hgroup>
    <h3>Welcome to Casa</h3>
    <p>Making buying and selling homes, land and renting apartments straightforward and accessible for everyone.</p>
  </hgroup>
</section>
<!-- INTRO -->

<!-- SEARCH -->
<div>
  <form action="/search" method="get">
    <input autocomplete="off" id="searchInput" autofocus list="locations" type="search" name="query" placeholder="Enter a location">
    <ul id="locationResults">
    </ul>
  </form>
</div>
<!-- END SEARCH -->

<!-- LISTINGS GRID -->
<section>
  <h4>Recent Listings</h4>
  <div class="listings">
  {{ range .Listings }}
    <div class="listing listing__{{.ID}}">
      <img onclick="location.href='/listings/view/{{.ID}}'" src="/uploads/{{.Banner}}" alt="Image {{.Title}}">
      <div class="listing_body">
        <a href="/search?propertyType={{.PropertyType}}" class="chip">{{ .PropertyType }}</a>
        <hgroup>
          <div class="location">
            <!-- <img src="/images/map-pin.svg" alt=""> -->
            <small>{{ .Location }}</small>
          </div>
          <h6><a href="/listings/view/{{.ID}}">{{ .Title }}</a></h6>
          <p>{{ formatPrice .Price }}</p>
        </hgroup>
        <hr>
        <small>
          {{ humanDate .CreatedAt }} <br> Posted by <a href="/profile/view/{{.UserID}}">{{ .Username }}</a>
        </small>
      </div>
    </div>
  {{ end }}
  </div>
  <br>
  <div>
    <a
      href="/?page={{minus .ListingsPagination.CurrentPage 1}}"
      role="button"
      class="outline"
      {{if lt .ListingsPagination.CurrentPage 2}}disabled{{end}}>Previous</a>
    <a
        href="/?page={{plus .ListingsPagination.CurrentPage 1}}"
        role="button"
        class="outline"
        {{if lt .ListingsPagination.CurrentPage .ListingsPagination.TotalPage}}{{else}}disabled{{end}}>Next</a>
  </div>
</section>
<!-- LISTINGS GRID -->

{{ end }}

{{ define "scripts" }}
<script src="/public/js/search.js"></script>
{{ end }}
