{{ define "title" }}Login{{ end }}

{{ define "main" }}

<h2>Login</h2>

{{range .Form.NonFieldErrors}}
    <div class='red'>{{.}}</div>
{{end}}

<form action="/login" method="post">
  <div>
    <label for="email">Email</label>
    <input name="email" id="email" type="email" value="{{ .Form.Email }}">
    {{ with .Form.FieldErrors.email }}
    <small class="red">{{ . }}</small>
    {{ end }}
  </div>
  <div>
    <label for="password">Password</label>
    <input name="password" id="password" type="password">
    {{ with .Form.FieldErrors.password }}
    <small class="red">{{ . }}</small>
    {{ end }}
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

{{ end }}
