{{ define "title" }}Reset Your Password{{ end }}

{{ define "main" }}
<section>
  <div class="form">
    <h4>Reset your password</h4>
    {{range .Form.NonFieldErrors}}
        <div class='red'>{{.}}</div>
    {{end}}
    <form method="POST" action="/password-reset/{{.Form.Token}}">
      <div>
        <label for="">New Password</label>
        <input type="password" value="" name="newPassword" >
        {{with .Form.FieldErrors.newPassword}}
          <small class="red">{{ . }}</small>
        {{end}}
      </div>
      <div>
        <label for="">Confirm New Password</label>
        <input type="password" value="" name="confirmNewPassword">
        {{with .Form.FieldErrors.confirmNewPassword}}
          <small class="red">{{ . }}</small>
        {{end}}
      </div>
      <div>
        <input type="submit" value="Reset Password">
      </div>
    </form>
  </div>
</section>
{{ end }}

