{{ define "title" }}Profile{{ end }}

{{ define "main" }}

<h2>Your Profile</h2>

<table>
    <tr>
      <th>ID</th>
      <td>{{ .User.ID }}</td>
    </tr>
    <tr>
      <th>Username</th>
      <td>{{ .User.Username }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ .User.Email }}</td>
    </tr>
    <tr>
      <th>Created At</th>
      <td>{{ humanDate .User.CreatedAt }}</td>
    </tr>
</table>

<div>
  <h3>Saved Listings</h3>
  <div class="listings listings--saved">
  {{ range .SavedListings }}
  <div class="listing listing__{{.ID}}">
      <img onclick="location.href='/listings/{{.ID}}'" src="/uploads/{{.Banner}}" alt="Image {{.Title}}">
      <div class="listing_body">
        <hgroup>
          <div class="location">
            <!-- <img src="/images/map-pin.svg" alt=""> -->
            <small>{{ .Location }}</small>
          </div>
          <h6><a href="/listings/{{.ID}}">{{ .Title }}</a></h6>
          <p>{{ formatPrice .Price }}</p>
        </hgroup>
        <hr>
        <small>
          {{ humanDate .CreatedAt }} <br> Posted by <a href="#">{{ .Username }}</a>
        </small>
      </div>
    </div>
  {{ end }}
  </div>
</div>

<hr>

<div>
  <h3>Your Listings</h3>
  <div class="listings listings--saved">
  {{ range .Listings }}
  <div class="listing listing__{{.ID}}">
      <img onclick="location.href='/listings/{{.ID}}'" src="/uploads/{{.Banner}}" alt="Image {{.Title}}">
      <div class="listing_body">
        <hgroup>
          <div class="location">
            <!-- <img src="/images/map-pin.svg" alt=""> -->
            <small>{{ .Location }}</small>
          </div>
          <h6><a href="/listings/{{.ID}}">{{ .Title }}</a></h6>
          <p>{{ formatPrice .Price }}</p>
        </hgroup>
        <hr>
        <small>
          {{ humanDate .CreatedAt }} <br> Posted by <a href="#">{{ .Username }}</a>
        </small>
      </div>
    </div>
  {{ end }}
  </div>
</div>

{{ end }}
