{{ define "title" }}Profile{{ end }}

{{ define "main" }}

<section>
  <h4>Edit Your Profile</h4>
  <form action="/profile/update" method="post">
    <div>
      <input type="hidden" name="_method" value="PUT">
    </div>
    <div>
      <label for="">Username</label>
      <input required name="username" type="text" value="{{.Form.Username}}" >
      {{ with .Form.FieldErrors.username }}
      <small class="red">{{ . }}</small>
      {{ end }}
    </div>
    <div>
      <label for="">Phone</label>
      <input name="phone" type="text" value="{{.Form.Phone}}" >
      {{ with .Form.FieldErrors.phone }}
      <small class="red">{{ . }}</small>
      {{ end }}
    </div>
    <div>
      <input type="submit" value="Update">
    </div>
  </form>
</section>

{{ end }}
