{{ define "title" }}Profile{{ end }}

{{ define "main" }}

<section>
  <h4>Your Profile</h4>
  <form>
    <div>
      <label for="">Username</label>
      <input type="text" value="{{.User.Username}}" readonly>
    </div>
    <div>
      <label for="">Email</label>
      <input type="text" value="{{.User.Email}}" readonly>
    </div>
    <div>
      <label for="">Joined At</label>
      <input type="text" value="{{humanDate .User.CreatedAt}}" readonly>
    </div>
  </form>
</section>

<section>
  <h4>Saved Listings</h4>
  <div class="listings listings--saved">
  {{ range .SavedListings }}
  <div class="listing listing__{{.ID}}">
      <img onclick="location.href='/listings/view/{{.ID}}'" src="/uploads/{{.Banner}}" alt="Image {{.Title}}">
      <div class="listing_body">
        <hgroup>
          <div class="location">
            <!-- <img src="/images/map-pin.svg" alt=""> -->
            <small>{{ .Location }}</small>
          </div>
          <h6><a href="/listings/view/{{.ID}}">{{ .Title }}</a></h6>
          <p>{{ formatPrice .Price }}</p>
        </hgroup>
        <hr>
        <small>
          {{ humanDate .CreatedAt }} <br> Posted by <a href="#">{{ .Username }}</a>
        </small>
      </div>
    </div>
  {{ end }}
  </div>
</section>

<section>
  <h4>Your Listings</h4>
  <div class="listings listings--saved">
  {{ range .Listings }}
  <div class="listing listing__{{.ID}}">
      <img onclick="location.href='/listings/view/{{.ID}}'" src="/uploads/{{.Banner}}" alt="Image {{.Title}}">
      <div class="listing_body">
        <hgroup>
          <div class="location">
            <!-- <img src="/images/map-pin.svg" alt=""> -->
            <small>{{ .Location }}</small>
          </div>
          <h6><a href="/listings/view/{{.ID}}">{{ .Title }}</a></h6>
          <p>{{ formatPrice .Price }}</p>
        </hgroup>
        <hr>
        <small>
          {{ humanDate .CreatedAt }} <br> Posted by <a href="#">{{ .Username }}</a>
        </small>
      </div>
    </div>
  {{ end }}
  </div>
</section>

{{ end }}
