{{ define "title" }}
{{ .Listing.Title }}
{{ end }}

{{ define "styles" }}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
{{ end }}

{{ define "main" }}

<section class="single-listing listing__{{.Listing.ID}}">
  <hgroup>
    <h3>{{ .Listing.Title }}</h3>
    <p>{{ formatPrice .Listing.Price }} | {{ .Listing.Location }}</p>
  </hgroup>
  <div class="meta">
    <span>{{ humanDate .Listing.CreatedAt }} | Posted by <a href="#">{{ .Listing.Username }}</a></span>
    {{ if ne .User.ID .Listing.UserID }}
    {{ if .Listing.Saved }}
    <a onclick="saveBtn.click()" class="" href="#">unsave</a>
    <form action="/listings/unsave/{{.Listing.ID}}" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button id="saveBtn" hidden type="submit">Unsave</button>
    </form>
    {{ else }}
    <a onclick="saveBtn.click()" class="" href="#">save</a>
    <form action="/listings/save/{{.Listing.ID}}" method="post">
      <button id="saveBtn" hidden type="submit">Save</button>
    </form>
    {{ end }}
    {{ end }}
  </div>

  <hr>

  <img class="listing-image" src="/uploads/{{.Listing.Banner}}" alt="">
  <br>
  <br>
  <p>{{ .Listing.Description }}</p>

  {{ if gt (len .Listing.Pictures) 0 }}
  <h5>More images of this listing</h5>
  <div class="listing-image-grid">
    {{ range .Listing.Pictures }}
    <a href="/uploads/{{.}}" data-lightbox="listing-images">
      <img src="/uploads/{{.}}" alt="">
      </a>
    {{ end }}
  </div>
  <hr>
  <section>
    <p>Map of the location provided by owner</p>
    <div id="my-map" style="width: 100%; height: 400px"></div>
  </section>
  {{ end }}
</section>

{{ end }}

{{ define "scripts" }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" ></script>
  <script>
    var map = L.map('my-map').setView([{{.Listing.Latitude}},{{.Listing.Longitude}} ], 20);
    var myAPIKey = "d76967abd63741b894c6517816a7c8ec";
    var isRetina = L.Browser.retina;

    var baseUrl = "https://maps.geoapify.com/v1/tile/osm-bright/{z}/{x}/{y}.png?apiKey={apiKey}";
    var retinaUrl = "https://maps.geoapify.com/v1/tile/osm-bright/{z}/{x}/{y}@2x.png?apiKey={apiKey}";

    L.tileLayer(isRetina ? retinaUrl : baseUrl, {
        attribution: 'Powered by <a href="https://www.geoapify.com/" target="_blank">Geoapify</a> | <a href="https://openmaptiles.org/" rel="nofollow" target="_blank">© OpenMapTiles</a> <a href="https://www.openstreetmap.org/copyright" rel="nofollow" target="_blank">© OpenStreetMap</a> contributors',
        apiKey: myAPIKey,
        maxZoom: 20,
        id: 'osm-bright',
    }).addTo(map);
  </script>
{{ end }}
