{{ define "title" }}New{{ end }}

{{ define "main" }}

<h2>Create New Property Listing</h2>

<form action="/property" method="post" enctype="multipart/form-data">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text">
  </div>
  <div>
    <label for="location">Location</label>
    <input id="location" type="text">
  </div>
  <div>
    <label for="price">Price</label>
    <input id="price" type="text">
  </div>
  <div>
    <label for="property">Property Type</label>
    <select id="property" name="">
      <option value="house">House</option>
      <option value="land">Land</option>
      <option value="apartment">Apartment</option>
    </select>
  </div>
  <div>
    <label for="thumbnail">Thumbnail</label>
    <input id="thumbnail" type="file" name="thumbnail">
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>


{{ end }}
