{{ define "title" }}New{{ end }}

{{ define "main" }}

<h2>Create New Property Listing</h2>

<form action="/listings" method="post" enctype="multipart/form-data">
  <!-- <div> -->
  <!--   <label for="rent_or_sale">For</label> -->
  <!--   <select id="rent_or_sale" name="listing_type"> -->
  <!--     <option value="sale">Sale</option> -->
  <!--     <option value="rent">Rent</option> -->
  <!--   </select> -->
  <!-- </div> -->
  <!-- <div> -->
  <!--   <label for="property">Property Type</label> -->
  <!--   <select id="property" name="property_type"> -->
  <!--     <option value="house">House</option> -->
  <!--     <option value="land">Land</option> -->
  <!--     <option value="apartment">Apartment</option> -->
  <!--   </select> -->
  <!-- </div> -->
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" value="{{ .Form.Title }}">
    {{ with .Form.FieldErrors.title }}
    <small class="red">{{ . }}</small>
    {{ end }}
  </div>
  <!-- <div> -->
  <!--   <label for="province">Province</label> -->
  <!--   <select id="province" name="province"> -->
  <!--     <option value="koshi">Koshi</option> -->
  <!--     <option value="madhesh">Madhesh</option> -->
  <!--     <option value="bagmati">Bagmati</option> -->
  <!--     <option value="gandaki">Gandaki</option> -->
  <!--     <option value="lumbini">Lumbini</option> -->
  <!--     <option value="karnali">Karnali</option> -->
  <!--     <option value="sudurpaschim">Sudurpaschim</option> -->
  <!--   </select> -->
  <!-- </div> -->
  <div>
    <label for="location">Location</label>
    <input id="location" name="location" type="text" value="{{ .Form.Location }}">
    {{ with .Form.FieldErrors.location }}
    <small class="red">{{ . }}</small>
    {{ end }}
  </div>
  <div>
    <label for="price">Price</label>
    <input id="price" type="number" name="price" value="{{ .Form.Price }}">
    {{ with .Form.FieldErrors.price }}
    <small class="red">{{ . }}</small>
    {{ end }}
  </div>
  <div>
    <label for="thumbnail">Thumbnail</label>
    <input required id="thumbnail" type="file" name="thumbnail" accept="image/jpeg, image/png, image/jpg">
  </div>
  <!-- <div> -->
  <!--   <label>Furnish Status</label> -->
  <!--   <select id="" name="furnish_status"> -->
  <!--     <option value="full-furnished">Full-Furnished</option> -->
  <!--     <option value="un-furnished">Un-Furnished</option> -->
  <!--     <option value="semi-furnished">Semi-Furnished</option> -->
  <!--   </select> -->
  <!-- </div> -->
  <div>
    <label for="description">Description</label>
    <textarea id="description" name="description">{{ .Form.Description }}</textarea>
    {{ with .Form.FieldErrors.description }}
    <small class="red">{{ . }}</small>
    {{ end }}
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>


{{ end }}
