{{ define "title" }}Register{{ end }}

{{ define "main" }}

<section>
  <div class="form">
    <h4>Register</h4>
    <form action="/users/register" method="post">
      <div>
        <label for="username">Username</label>
        <input 
          {{ with .Form.FieldErrors.username }}
          aria-invalid="true"
          {{ end }}
        id="username" type="text" name="username" value="{{ .Form.Username }}">
        {{ with .Form.FieldErrors.username }}
        <small class="red">{{ . }}</small>
        {{ end }}
      </div>
      <div>
        <label for="email">Email</label>
        <input 
          {{ with .Form.FieldErrors.email }}
          aria-invalid="true"
          {{ end }}
        id="email" type="email" name="email" value="{{ .Form.Email }}">
        {{ with .Form.FieldErrors.email }}
        <small class="red">{{ . }}</small>
        {{ end }}
      </div>
      <div>
        <label for="password1">Password</label>
        <input
          {{ with .Form.FieldErrors.password }}
          aria-invalid="true"
          {{ end }}
        id="password1" type="password" name="password">
        {{ with .Form.FieldErrors.password }}
        <small class="red">{{ . }}</small>
        {{ end }}
      </div>
      <div>
        <label for="password2">Confirm Password</label>
        <input id="password2" type="password" name="password2">
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
      <p>Already registered? <a href="/users/login">Login</a></p>
    </form>
  </div>
</section>
{{ end }}
