{{ define "title" }}Search{{ end }}

{{ define "main" }}

<h2>Search For Property Here</h2>

<form action="/search" method="get">
  <input autofocus type="text" name="query" placeholder="Enter a location" value="{{ .Form.Query }}">
  <!-- <button type="submit">Search</button> -->
</form>

<div class="listings">
{{ range .Listings }}
  <div class="listing listing__{{.ID}}">
    <img onclick="location.href='/listings/{{.ID}}'" width="500" src="/uploads/{{.Banner}}" alt="">
    <div class="listing_body">
      <h3 onclick="location.href='/listings/{{.ID}}'" class="pointer">{{ .Title }}</h3>
      <h5>{{ .Location }}</h5>
      <h4>NPR. {{ .Price }}</h4>
      <small>{{ humanDate .CreatedAt }}</small>
    </div>
  </div>
{{ end }}
</div>
{{ end }}
