{{ define "title" }}Chat{{ end }}

{{ define "main" }}
  <div class="chat-container">
    <div class="message-box">
      <div class="message-box-bar">
        <p><a href="#">Asmit</a></p>
      </div>
      <div class="messages">
        <div class="message message">
            <p>Hello There</p>
            <small>5:35 PM</small>
        </div>
        <div class="message message-my">
            <p>Hello There</p>
            <small>5:35 PM</small>
        </div>
        <div class="message">
            <p>Hello There</p>
            <small>5:35 PM</small>
        </div>
        <div class="message">
            <p>Hello There</p>
            <small>5:35 PM</small>
        </div>
        <div class="message message-my">
            <p>Hello There</p>
            <small>5:35 PM</small>
        </div>
        <div class="message">
            <p>Hello There</p>
            <small>5:35 PM</small>
        </div>
        <div class="message message-my">
            <p>Hello There</p>
            <small>5:35 PM</small>
        </div>
      </div>
    </div>
    <div>
      <input type="text" placeholder="Enter message here">
    </div>
  </div>
{{ end }}
