{{ define "title" }}Chat{{ end }}

{{ define "main" }}
<input hidden name="roomID" value="{{ .RoomID }}">
<input hidden name="userID" value="{{ .AuthenticatedUser.ID }}">
  <div class="chat-container">
    <div class="message-box">
      <div class="message-box-bar">
        <p><a href="/profile/{{.ChatOtherUser.ID}}">{{ .ChatOtherUser.Username }}</a></p>
      </div>
      <div class="messages">
        {{ range .Messages }}
        <div class="message {{ if eq .UserID $.AuthenticatedUser.ID }} message-my {{ end }}">
          <p>{{ .Text }}</p>
          <small>{{ humanDate .CreatedAt }}</small>
        </div>
        {{ end }}
      </div>
    </div>
    <div>
      <input class="messageInput" type="text" placeholder="Enter message here">
    </div>
  </div>
{{ end }}

{{ define "scripts" }}
<script src="/public/js/chat.js"></script>
{{ end }}
