{{ define "layout" }}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Casa | {{ template "title" . }}</title>
    <link rel="icon" type="image/x-icon" href="/public/images/gopher.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.4/dist/css/lightbox.min.css">
    {{ block "styles" . }} {{ end }}
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <div class="container">
      {{ template "header" . }}
      <main>
        {{ with .Flash }}
        <section id="flash">
          <div class="flash">
            <small class="info">{{ . }}</small>
            <svg onclick="flash.remove()" class="pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </div>
        </section>
        {{ end }}
        {{ template "main" . }}
      </main>
      <!-- FOOTER -->
      <footer>
      <hr>
      <div style="display: flex; gap: 1rem; align-items: center;">
        <img
          src="/public/images/pilot-bust.svg"
          style="display: block"
          width="100px"
          alt="" />
        <span>Copyright &copy; {{ .CurrentYear }} Casa Inc.</span>
      </div>
      </footer>
      <!-- END FOOTER -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.4/dist/js/lightbox.min.js"></script>
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
{{ end }}
