.red,
.error {
  color: red;
}

.listings > .listing:only-child {
  width: min(300px, 100%);
}

.listings {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.listing {
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.listing img {
  transform: scale(1.02);
  border-radius: calc(.4rem - 1px);
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.listing img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.listing_body {
  padding: 1rem;
}

.pointer {
  cursor: pointer;
}

.meta {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.listing-image {
  width: min(500px, 100%);
  border-radius: 4px;
  object-fit: cover;
}

.listing-image-grid > a > img {
  border: 1px solid transparent;
  width: 150px;
  border-radius: 4px;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.listing-image-grid > a > img:hover {
  border: 1px solid steelblue;
}

.form {
  width: min(600px, 100%);
  margin: auto;
}

.flash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: steelblue;
  padding: 1rem;
  border-radius: 4px;
}

.info {
  color: #fff;
}

#locationResults li {
  cursor: pointer;
}

/* CHAT STYLES */

.chat-container {
  height: 80vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr auto;
}

.message-box {
  height: 100%;
  overflow-y: scroll;
  /* background-color: pink; */
  background-color: hsla(194.9, 84.7%, 41%, 0.03);
  border-radius: .25rem;
  border: 1px solid;
  border-color: hsl(205, 14%, 68%);
}

.message-box-bar {
  padding: 1rem;
  border-bottom: 1px solid hsl(205, 14%, 68%);
  position: sticky;
  top: 0;
  background-color: hsla(194.9, 84.7%, 41%);
}

.message-box-bar a {
  color: #fff;
}

/* reset p styles */
.message-box-bar p,
.message p {
  margin: 0;
  padding: 0;
}

.messages {
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.messages > .message + .message {
  margin-top: .5rem;
}

.message {
  align-self: start;
  width: min(400px, 70%);
  border-radius: .25rem;
  padding: .75rem;
  background-color: hsla(194.9, 84.7%, 41%, 0.07);
}

.message p {
  word-break: break-all;
}

.message.message-my {
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* map buttons fix */
.lb-close[role=button],
.leaflet-control-zoom-out[role=button], 
.leaflet-control-zoom-in[role=button] {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.lb-close[role=button]:not([href]) {
  pointer-events: auto;
}
