html {
  font-size: 62.5%;
  font-family: system-ui, sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0;
  padding: 2rem;
}

.container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 100px 1fr;
}

input,
button,
select {
  font: inherit;
}

input {
  display: block;
}

form > div + div {
  margin-top: 1rem;
}

.red {
  color: red;
}
