/* html { */
/*   font-size: 62.5%; */
/*   font-family: system-ui, sans-serif; */
/* } */

/* body { */
/*   font-size: 1.6rem; */
/*   line-height: 1.6; */
/*   margin: 0; */
/*   padding: 2rem; */
/* } */

.container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 100px 1fr;
}

.red,
.error {
  color: red;
}

.flash {
  color: steelblue;
}

.nav {
  list-style-type: none;
  padding: 0;
}

