{{define "subject"}}
Reset Your Password
{{end}}

{{define "plainBody"}}
Hi,

You can reset your password by opening the link in your browser.

http://localhost:{{.port}}/password-reset/{{.passwordResetToken}}

If you did not request a password reset, you can safely ignore this email.

Thanks,
The Casa Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hi,</p>

        <p>You can reset your password by clicking the link</p>
        <a href="http://localhost:{{.port}}/password-reset/{{.passwordResetToken}}">Reset Password</a>
        <p>If you did not request a password reset, you can safely ignore this email.
</p>
        <p>Thanks,</p>
        <p>The Casa Team</p>
    </body>
</html>
{{end}}
