{{define "subject"}}
Welcome to Casa!
{{end}}

{{define "plainBody"}}
Hi,
Thanks for signing up for a Casa account. We're excited to have you on board! 
Thanks,
The Casa Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hi,</p>
        <p>Thanks for signing up for a Casa account. We're excited to have you on board!</p>
        <p>Thanks,</p>
        <p>The Casa Team</p>
    </body>
</html>
{{end}}
